apstools
area-detector-handlers
databroker==1.2.5
databroker-pack
bluesky
bluesky-live
dask
h5py
hdf5plugin
importlib
ophyd
polartools
prettytable
pyqt5
pyqtgraph
pyqtwebengine
pysumreg
scikit-learn
xrayutilities